.allorders__page {
  font-family: 'anton';
  letter-spacing: var(--spacing-wide);
}

.allorders__page .container__card {
	min-height: 60vh;
	max-height: 60vh;
}

.group__title {
	font-size: 1.3rem;
	margin-bottom: .5em;
	text-align: center;
}

.order__card {
  margin-bottom: 1em;
  display: flex; 
  flex-direction: column;
  padding: .8em;
  border: 1px solid #585858;
  border-radius: 5px;
}

.order__header {
	display: flex;
  justify-content: space-between;
	margin-bottom: .5em;
}

.order__header-two {
	display: flex;
  justify-content: space-between;
	margin-bottom: 1em;
	font-family: 'MerriweatherSans-Bold';
  font-size: 0.8em;
}

.order__products-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: .5em;
}

.order__product-item {
  display: flex;
  justify-content: space-between;
  font-family: 'MerriweatherSans';
  font-size: 0.8em;
}

.order__details-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .8em;
  border-top: 1px solid #585858;
}

.order__price {
	margin: 0; 
	font-weight: bold;
	font-size: 1em;
}

.filter__bar-orders {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	margin-bottom: 2em;
}

.filter__button-orders {
	width: auto;
	padding: 8px 10px;
	font-size: 0.7rem;
	font-family: 'MerriweatherSans';
	width: auto;
}

@media (max-height: 800px) {
  .allorders__page .container__card {
    min-height: 35vh;
    max-height: 50vh;
  }
}

@media (max-width: 450px) {
	.order__header-two {
		display: flex;
		flex-direction: column;
	}

	.order__name {
		margin-bottom: .5em;
	}
}