.payment__boxContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment__img {
	width: 150px;
	padding: 0;
}

.paymentpage .container__card {
	max-width: 400px;
	min-height: 50vh;
  max-height: 50vh;
}

.payment__input {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.payment__input-label {
	font-size: var(--body-text);
}

.payment__input-number {
	width: 80%;
	height: 2.5rem;
	border-radius: 10px;
	border: none;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	background: var(--font-color-white);

	padding: 0 1rem;
	font-family: MerriweatherSans;
	color: var(--font-color-dark);
}

.payment__total {
	margin-top: auto;
	font-family: anton;
	font-size: var(--header-size);
	margin-bottom: 1rem;
}

.payment__menuLink {
	margin-top: auto;
	color: var(--font-color-dark);
	font-size: 0.8rem;
}
.payment__buttonContainer {
	position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px; 
  z-index: 990; 
}

.payment__button {
	width: 280px; 
  padding: 15px 20px;
}

@media (min-width: 900px) {
  .payment__buttonContainer {
    margin-bottom: 125px;
  }

	.paymentpage .container__card {
		min-height: 45vh;
		max-height: 45vh;
	}
}