.ConfirmationPage {
	width: 100%;
	font-family: 'anton';
	color: var(--font-color-dark);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Confirmation__ordnr {
	width: 100%;
	font-size: var(--header-size);
	letter-spacing: var(--spacing-wide);
	font-weight: 300;
	text-align: center;
	border-bottom: 1px solid var(--font-color-dark);
}

.item__cards {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1rem;
}

.item__categoryName {
	font-family: 'MerriweatherSans';
	font-weight: 100;
	font-size: var(--menu-item);
}

.item__items {
	font-weight: 300;
	letter-spacing: 0.03em;
	display: flex;
	justify-content: space-between;
}

.item__totalprice {
	text-align: end;
}

.Confirmation__info {
	border-top: 1px solid var(--font-color-dark);
	padding-top: 0.5rem;
	margin-top: 1rem;
	font-family: 'MerriweatherSans';
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Confirmation__info-top {
	display: flex;
	justify-content: space-between;
}

.Confirmation__info-bottom {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}

.Confirmation__changeBtn {
	border-radius: 999px;
	background: none;
	font-family: 'MerriweatherSans';
	border: 1px solid var(--font-color-dark);
	color: var(--font-color-dark);
	width: 8rem;
	font-size: 0.8rem;
}

.Confirmation__status {
	text-align: end;
}
