.ConfirmationPage {
	width: 100%;
	font-family: 'anton';
	color: var(--font-color-dark);
	display: flex;
	flex-direction: column;
	align-items: center;

	flex: 1;
	gap: 0.5rem;
}

.ConfirmationPage__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.Confirmation__ordnr {
	width: 100%;
	font-size: var(--header-size);
	letter-spacing: var(--spacing-wide);
	font-weight: 300;
	text-align: center;
	border-bottom: 1px solid var(--font-color-dark);
}

.item__cards {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1rem;
}

.item__categoryName {
	font-family: 'MerriweatherSans';
	font-weight: 100;
	font-size: var(--menu-item);
}

.item__items {
	font-weight: 300;
	letter-spacing: 0.03em;
	display: flex;
	justify-content: space-between;
}

.item__bottom {
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
	align-items: center;
}

.Confirmation__info {
	margin-top: auto;
	border-top: 1px solid var(--font-color-dark);
	padding-top: 0.5rem;
	margin-top: 1rem;
	font-family: 'MerriweatherSans';
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Confirmation__info-top {
	display: flex;
	justify-content: space-between;
}

.Confirmation__info-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.Confirmation__info-left,
.Confirmation__info-right {
	display: flex;
	align-items: center;
}

.Confirmation__btn {
	padding: 0.5rem 1rem;
	background: none;
	cursor: pointer;
	border-radius: 999px;
	font-family: 'MerriweatherSans';
	border: 1px solid var(--font-color-dark);
	color: var(--font-color-dark);
	font-size: 0.8rem;
}

.Confirmation__btn:hover {
	background-color: var(--font-color-dark);
	color: var(--font-color-white);
}

.change__container {
	display: flex;
	gap: 1rem;
}

.change__button-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.paymentMessage {
	color: var(--font-color-white);
	letter-spacing: var(--spacing-wide);
	padding: 1rem;
}

.ConfirmationPage .container__card {
	display: flex;
	flex-direction: column;
	min-height: 40vh;
	max-height: 40vh;
}
