.status-box__order {
	font-family: 'anton';
	letter-spacing: var(--spacing-wide);
	text-align: center;
	border-bottom: 1px solid #000000;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	color: var(--font-color-dark);
}

.status-box__link {
	text-decoration: none;
}

.status-box__timeline {
	font-family: 'MerriweatherSans';
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;
}

.status-box {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.owl-chef {
	position: absolute;
	right: 1.5rem;
	bottom: -4rem;
	width: 100px;
	height: auto;
	z-index: 100;
}

.status-step { 
  display: flex; 
  align-items: flex-start; 
  gap: 1rem;
  padding: 10px 0; 
  position: relative; 
  margin: 0;
}

.status-dot {
	width: 22px;
	height: 22px;
	background: #999;
	border-radius: 50%;
	flex-shrink: 0;
	position: relative;
	z-index: 10;
	margin-top: 2px;
}

.status-dot.active { 
  background: #001b4e; 
  position: relative; 
  z-index: 20; 
}

.status-dot.pulsating {
  will-change: transform, box-shadow; 
  box-shadow: 0 0 0 6px rgba(0, 27, 78, 0.6); 
  animation: pulse 2s infinite; 
}

.status-text {
	font-size: 0.9rem;
	align-self: center;
	margin-top: 0;
}

.status-cancelled {
	font-family: 'anton';
	letter-spacing: var(--spacing-wide);
	font-size: 1.2rem;
	color: #820101;
	text-align: center;
	margin-top: 2rem;
}

.orderstatus__page .container__card {
	min-height: 50vh;
}

@keyframes pulse {
  0% {
    transform: scale(0.98); 
    box-shadow: 0 0 0 0 rgba(0, 27, 78, 0.4); 
  }
  70% {
    transform: scale(1.15); 
    box-shadow: 0 0 0 15px rgba(0, 27, 78, 0); 
  }
  100% {
    transform: scale(0.98); 
    box-shadow: 0 0 0 0 rgba(0, 27, 78, 0);
  }
}

@media (max-width: 400px) {
	.owl-chef {
		width: 60px;
	}
}

@media (max-width: 600px) {
	.owl-chef {
		right: .5rem; 
		width: 70px;
	}
}

@media (max-height: 800px) {
  .orderstatus__page .container__card {
    min-height: 40vh;
    max-height: 50vh;
  }

	.owl-chef {
		right: .5rem; 
		bottom: -.5rem;
	}
}