.menu__list {
	display: block;
}

.loading__message {
	text-align: center;
	margin-top: 1em;
	font-size: 1em;
	font-family: 'MerriweatherSans';
	color: var(--font-color-dark);
}

.filter__bar {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	padding: 0.5em;
	margin-bottom: 1em;
}

.filter__button {
	width: auto;
	padding: 8px 10px;
	font-size: 0.7rem;
	font-family: 'MerriweatherSans';
	width: 100px;
}

.menu__page .container__card {
  max-height: 70vh;
}

.category__title {
	font-family: 'anton';
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: var(--spacing-wide);
	color: var(--font-color-dark);
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #000000;
}

.menu__item-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #000000;
}

.menu__item-card:last-child {
	border-bottom: none;
}

.item__details {
	flex-grow: 1;
	margin-right: 15px;
}

.item__name {
	font-family: 'anton';
	letter-spacing: var(--spacing-wide);
	font-size: var(--menu-item);
	margin-bottom: 0.3em;
	color: var(--font-color-dark);
}

.item__vego-icon {
	width: 18px;
	height: auto;
	margin-left: 0.3em;
}

.item__description {
	font-size: 0.7rem;
	font-family: 'MerriweatherSans';
	color: var(--font-color-dark);
}

.item__price-control {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 15px;
	min-width: 100px;
}

.item__price {
	font-weight: bold;
	font-size: var(--menu-item);
	font-family: 'anton';
	letter-spacing: var(--spacing-wide);
	margin-bottom: 0.3em;
	color: var(--font-color-dark);
}

.button__checkout-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	z-index: 990;
}

.button__checkout {
	width: 280px;
	padding: 15px 20px;
}

@media (min-width: 900px) {
	.button__checkout-wrapper {
		margin-bottom: 125px;
	}

  .filter__bar {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 900px) {
	.menu__page .container__card {
		min-height: 60vh;
		max-height: 60vh;
	}
}

@media (max-height: 1100px) {
	.menu__page .container__card {
		min-height: 50vh;
		max-height: 50vh;
	}
}

@media (max-height: 900px) {
  .menu__page .container__card {
    min-height: 40vh;
    max-height: 50vh;
  }
}

@media (max-height: 800px) {
  .menu__page .container__card {
    min-height: 35vh;
    max-height: 35vh;
  }
}
